/* Sur tous types d'écran */
@media all and (max-device-width: 1280px)
{
header
{
    float: center;
}

hr /* Ligne noir de séparation */
{
    margin: auto;
    height: 2px;
    background-color: rgb(12, 12, 11);
    border: none; /*on supprime le style par défaut*/
}

.grille
{
    flex-direction:column;
}

h1,h2 /* On aligne h1 */
{
    text-align: center; 
    margin-right: auto;
}

.p1, p
{
    text-align: center; 
    margin-right: auto;
}

img
{
    max-width: 100%;
    height: auto;
    display: block;
}


p, li /* redimension de la police */
{
    font-size: 107%;
}




}
