h1
{
    text-align: center;
}

h2
{
    text-align: left;
}
/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
}

div
{
    float:left;
}

header
{
	float:center;
}

h3
{  
    vertical-align:middle;
}

hr
{
    margin: 100px auto;
    width: 100%;
    height: 2px;
    background-color: rgb(12, 12, 11);
    border: none; /*on supprime le style par défaut*/
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

h1,h2,h3,p /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'cac_champagneregular', "Comic Sans MS" , serif;
}

.grille
{
    border: 2px solid black;
    padding: 5px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 1fr;
    grid-gap: 10px;
    
}

article
{
    border: 2px solid black;
    margin: 5px;
}

p
{
    float: right;
}
