h1
{
    text-align: center; /* On aligne h1 */
}

/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
}

div /* On aligne à gauche le logo */
{
    float: left;
}

hr /* Ligne noir de séparation */
{
    margin: 100px auto;
    width: 100%;
    height: 2px;
    background-color: rgb(12, 12, 11);
    border: none; /*on supprime le style par défaut*/
}

h1,h2,h3,p /* Utilisation de la police Time New Roman */
{
    font-family:"Time New Roman" , serif;
}

.grille /* on mets en place un tableau */
{
    border: 2px solid black;
    padding: 5px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width : 99%
    
}

article
{
    border: 2px solid black;
    margin: 5px;
    
}


p /* On aligne le texte à droite de l'image */
{
    float:right;   
    margin-right: 80px;    
}

p, li /* redimension de la police */
{
    font-size: 107%;
}
